body{
    background-color: #d2d5db;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    direction: ltr; 
}
.notv{
   display: contents;
   justify-content: space-between;
   align-items: center;
   padding: 10px 50px;
}

.intro a{
   font-size: 50px;
     margin-top: 3PX;
    text-align: right   ;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    gap: 300px;
    padding: 5PX 15PX;
    margin: 1;
    text-decoration: none; 
   
    
}
h2{
    text-align: center;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 35px
     
}
header{
    background: linear-gradient(to right, #dbd9df, #7466af);
    padding: 82PX;
    text-align: center;
    color: rgb(217, 225, 234);
    font-size: 28px;
text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif; 
   font-size: 45px;
}
.img{
 width: 500px;
 padding: 5px;
 height: 20;

}
nav a {
    color: rgb(217, 225, 234);
    margin: 0 30px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;

   

}


.products {
display: flex;
padding: 20 px;
justify-content: center;
gap: 15px;
flex-wrap: wrap;

}
.product {
    background: rgb(163, 106, 106);
    padding: 15px;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    box-shadow: 0 0 10px;  
    

    }
.product img {
width: 100%;
border-radius: 10px;
}
button :hover{
    background: #219150;
}
footer{
      background: #2c3e50;
       padding: 10px;
       text-align: center;
       margin-top: 20px;
       color: white;
       margin-bottom: -0px;
    }
button{
    background: rgb(241, 238, 238);
    color: rgb(61, 70, 173);
    border-radius: 40px;
    width: 125px;
    height: 50px;
    font-size: 20px;
    margin-top: 50px;
}
